body {
    font-family: 'Lato', sans-serif;
    background-color:rgb(218, 225, 228);
  
  }

  section {
    width: 100%;
    height: 500px;
    background-color: rgb(218, 225, 228);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }


  .styled-break {
    width: 100px;
    height: 3.3px;
    background-color: rgb(184, 179, 173);
    border-radius: 1.5px;
    margin: 0px 30px 30px 30px;

  }

  .grid {
    width: 424px;
    height: 326px;
    background-color: white;
    border: 4px solid rgb(184, 179, 173);
    border-radius: 5px;
    
  }

  img {
    width:100px;
    padding: 3px;
  }

  
  